/* ----- Color Variables ----- */

$color-blue:           #2196F3;
$color-blue-lighter:   #64B5F6;
$color-blue-lightest:  #BBDEFB;
$color-blue-darker:    #1565C0;
$color-blue-darkest:   #0D47A1;

$color-cyan:          #77c9d4;
$color-cyan-lighter:  #a4dbe2;
$color-cyan-lightest: #dff2f5;
$color-cyan-darker:   #3db0c0;
$color-cyan-darkest:  #2a7a84;

$color-marine-green:          #57bc90;
$color-marine-green-lighter:  #8fd2b5;
$color-marine-green-lightest: #d5eee3;
$color-marine-green-darker:   #43a97c;
$color-marine-green-darkest:  #327e5d;

$color-grey:           #A5A5AF;
$color-grey-lighter:   #EEEEEE;
$color-grey-lightest:  #F5F5F5;
$color-grey-darker:    #616161;
$color-grey-darkest:   #212121;

$color-black: $color-grey-darkest;

$color-red:            #F44336;
$color-red-darker:     #D32F2F;
$color-red-darkest:    #B71C1C;

$primary-color:      $color-blue;
$primary-color-1:    $color-blue-lightest;
$primary-color-2:    $color-blue-darkest;
$primary-color-3:    $color-blue-lighter;
$accent-color:       $color-cyan;
$accent-color-1:     $color-cyan-lightest;
$accent-color-2:     $color-cyan-darker;
$accent-color-3:     $color-cyan-darkest;

/* ----- RESPONSIVE Variables ----- */

$screen-sm-max: 600px;
$screen-md-min: 601px;
$screen-md-max: 960px;
$screen-lg-min: 961px;
$screen-lg-max: 1200px;

/* ----- SIZING Variables -----  */

$header-height: 70px;
$sidebar-width: 300px;

/* ----- Z-Indexes ----- */

$zindex-top:         10;
$zindex-top-higher:  100;
$zindex-top-highest: 1000;
